token.txt
src/imgshape.egg-info/
dist/

src/imgshape/__pycache__/
src/imgshape/*.pyc  

tests/__pycache__/
tests/*.pyc
gpt.zip
.vscode/
list.py
tmp/
assets/sample_images/Image_created_with_a_mobile_phone.png
analytics_klyne.py